/**
 * @name: style.css
 * @since: 2018 - 04 - 21
 * @version: 1.0.1.1
 * @Contact: osh12201@gmail.com
 */
*{
    font-family: 'Roboto','Open Sans', 'Source Sans Pro', sans-serif;
}


/* demo set */
.demo_hide{
    display:none;
}

html,body{
    overflow: hidden;
    height:100%;
}
html{
    overflow: hidden;
}
#one{
    text-align:  center;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 11px;
}
/* theme color setting */
.bgImg{
    background-image:url(../img/backBg.jpg)!important;
    background-size: cover!important;
    background-position: 50%!important;
    position: relative;
}
.bgMask{
    position: absolute;
    z-index: 99;
    top:0;
    left:0;
    right:auto;
    bottom:auto;
    width:100%;
    height:100%;
    background-color:rgba(41, 50, 61, 0.77);
}


.baseColor{
    background-color: #29323dd4 !important;
}
.subColor{
    background-color: #2d3842  !important;
}
.boxColor{
    background-color: #434e5e8a !important;
}
.contentColor{
    background-color: #1f2731;
}
.fontColor{
    color:#fff!important;
}
.bgColor{
    background-color:#eeeeee;
}


/* layout setting */
.container{
    padding:0 20px 0 20px;
}
.max_width{
    max-width: 1000px!important;
    margin:0 auto;
}
.height_set{
    height:80px;
}
.page_wrap{
    height:100%;
    position: relative;
    z-index: 100;
}
/* side */
.side_wrap{
    max-width:300px;
    height:100%;
    width:100%;
    background-color:transparent;
    padding:10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.side_container{
    background-color: #fff;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
}
.side_head{
    padding:10px 10px;
    border-radius: 4px 4px 0 0;
    position: relative;
}
.logo_height_set{
    height:40px!important;
}
.logo_img{
    width: 40px;
    border-radius: 100%;
    background-size: cover;
    background-position: 50%;
    border-radius: 100%;
    display: inline-block;
    margin-right:15px;
    margin-left: 15px;
}
.logo_txt{
    font-size:13px;
}

.side_sub_menu{
    height:30px;
    padding-top:6px;
}
.side_sub_menu .sub_menu_item{
    height:30px;
    padding:0 15px;
    border-bottom:2px solid transparent;
    transition: border .5s;
    cursor: pointer;
}
.side_sub_menu .sub_menu_item:hover{
    border-bottom:2px solid #fff;
}
.side_sub_menu .sub_menu_item .menu_txt{
    height:30px;
    color:#fff;
    font-size: 17px;
    font-family: 'Roboto','Open Sans', 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.side_content{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size:13px;
}
.category_list{
    background-color: #3440508f;
    margin:25px 0;

    list-style: none;

    display: block;
    padding:8px 15px;
    color:#fff;
    

}



.category_list li {
    transition: all .45s;
}



.category_list li :hover{
    display: block;
    padding:8px 15px 8px 22px;
    color:#fff;
    background-color:#4b5768;
    cursor: pointer;
    transition: all .45s;
}



.category_list .side_item_title{
    font-size:17px;
    font-weight: normal;
    padding:10px 15px 10px 15px;
    background-color: #434e5e8a !important;
    font-family: 'Roboto','Open Sans', 'Source Sans Pro', sans-serif;
}
/* content */
.content_wrap{
    height:100%;
    overflow-y:auto;
    overflow-x: hidden;
    position: relative;
}
.content_wrap .top-card{
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 90%;
    height: 24%;
    background: #28313d;
    border-radius: 4px;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.content_wrap .top-card img{
    max-height: 100%;
}
.content_wrap .card{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    width: 90%;
    height: 70%;
    background: #28313d;
    border-radius: 4px;
    padding:15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#fff;
}
/* here only disk information */
.card .card_item{
    margin:10px 0;
    padding:0px 10px;
    background-color:#3a4554;
    border-radius: 4px;
    height:150px;
}
.card .card_item .disk{
    height: 90px;
    margin-right:25px;
}
.card .card_item .disk_height_set{
    height:20px;
    padding:0 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.toggle_disk_option{
    cursor: pointer;
}
.card .card_item .disk .disk_info{
    height:100%;
}
.disk_bg{
    width: 90px;
    /* margin-right: 25px;
    background: #28313d; */
    border-radius: 14px;
}
.disk_bg .disk_img{
    width: 100%;
    background-image:url(../img/disk.png);
    background-size: cover;
    background-position: 50%;
    height: 100%
}

.progress_height_set{
    height:20px;
    border-radius: 2.5px;
}
.progressbar_wrap{
    background-color: #28313d;
    border-radius: 2.5px;
}
.progress_value{
    height:100%;
    background-color:#fff;
    border-radius: 2.5px 0 0 2.5px;
    position: relative;
}
.progress_context{
    top: 4px;
    bottom: 0;
    position: relative;
    width: auto;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: auto;
}
.progress_context:before{
    content: ''!important;
    height: 100%!important;
    display: inline-block!important;
    vertical-align: middle!important;
}

.toggle_info{
    display:none;
    height:100px;
    background-color:#fff;
    border-radius: 4px;
    color:#000;
    font-size: 13px;
}
.toggle_info .flex_00{
    padding:0 25px 0 10px;
}
.toggle_info .flex_align{
    height:100px;
}
.toggle_info .info_title{
    height:100px;
}
.toggle_info .info_value{
    height:100px;
}
/* end disk */


/*gauge chart*/
.gauge_chart{
    position: relative;
    display:inline-block;
    width:120px;
    height:120px;
    padding:0 15px;
}

.clearfix:after, .clearfix:before{
    display: table;
    content: " ";
}

/* flex set */
.flex{
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.flex_00{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.flex_01{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.flex_02{
    -webkit-box-flex: 2;
    -webkit-flex: 2 2 auto;
    -ms-flex: 2 2 auto;
    flex: 2 2 auto;
}
.flex_03{
    -webkit-box-flex: 3;
    -webkit-flex: 3 3 auto;
    -ms-flex: 3 3 auto;
    flex: 3 3 auto;
}
.flex_04{
    -webkit-box-flex: 4;
    -webkit-flex: 4 4 auto;
    -ms-flex: 4 4 auto;
    flex: 4 4 auto;
}
.flex_align:before{
    content:''!important;
    height:100%!important;
    display: inline-block!important;
    vertical-align: middle!important;
}


/* jQuery modal redesign */
.jconfirm .jconfirm-holder{
    /* max-width:550px!important; */
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: hidden!important;
}
.jconfirm .jconfirm-box{
    max-width:400px;
    width:100%;
    height:auto;
    margin:0 auto;
}
.jconfirm .jconfirm-cell{
    vertical-align: top!important;
}
.jconfirm-content {
    margin: 0 auto;
    text-align: center;
}

#root{
    background-image:url(../img/rootUser.png);
    cursor: pointer;
}
#unroot{
    background-image:url(../img/defaultUser.png);
    cursor: pointer;
}
.side_content ul li{
    font-size : 1.8vh;
    height : 3%;
    padding-left : 10px;
    /* padding-top: 3%; */
}
.side_content ul li:hover{
    background-color : #4A4185;
    padding-left : 15px;
}

/* .side_content :nth-child(0) {
    padding-top: 0px;
} */