/**
 * @name: style.css
 * @since: 2018 - 04 - 21
 * @version: 1.0.1.1
 * @Contact: osh12201@gmail.com
 */
/* Header setting location */
.no-border{
    border:0!important;
}
.max-width{
    max-width:1100px;
    width:100%;
    margin:0 auto;
}
.container:after,.container:before{
    content:"";
    clear: both;
    display: block;
}
.none-select{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.default-desktop{
    height:50px;
    line-height: 50px;
    background-color: #000000b0;
}
.content-header-title{
    font-weight: bold;
    color:#fff;
    font-size:25px;
}
.content-header-masking{
    background-color: #0000008c;
}



html::-webkit-scrollbar {
    display: none;
}
.default-desktop{
    position: fixed;
    height:50px;
    background-color: #000000b0;
    width:100%;
    z-index: 1000;
}
/* Logo option */
.logo-wrap{
    float:left;
    width:50px;
    height: 50px;
    padding:0 0 0 10px;
}
.logo-position{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.logo-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin: -3px 0 0 0;
}
/* Contents Setting location */



/* Contents Header Setting */
.content-header{
    padding: 200px 0px 230px 0px;
    background-color:#2d2d2d;
    background-image:url('back_input.jpeg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.content-header-title{
    font-weight: bold;
    color:#fff;
    font-size:25px;
    position: relative;
    z-index: 10;
}
.content-header-masking{
    z-index: 9;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #0000008c;
}
.article-top-menu{
    text-align: center;
    color:#fff;
}
.article-content{
    margin: -80px auto 0 auto;
    /* background: #fff; */
    border-radius: 4px;
    z-index: 500;
    position: relative;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(0, 0, 0, 0.19); */
}
.article-top-menu li{
    list-style: none;
    display: inline-block;
    padding:0 10px;
}
.article-top-menu li a{
    font-size: 13px;
    padding: 6px 4px;
    border: 2px solid #ffffff3d;
    border-radius: 50px;
    width: 150px;
    display: inline-block;
    color: #d6d6d6;
    transition:all .5s;
    text-decoration: none;
}
.article-top-menu li>a:hover{
    border: 2px solid #fff;
    cursor: pointer;
}
.article-wrap{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(0, 0, 0, 0.19);
    padding: 25px;
    margin: 25px 0 0 0;
}
.console-input{
    display: block;
    margin:0 0 10px 0;
    padding:7.5px 6px;
    box-sizing: border-box;
    outline: none;
    width:100%;
    border-radius: 4px;
    border:1px solid #cacaca;
}
.article-wrap>span{
    padding:10px 0;
    display: block;
    font-size:13px;
}
.console{
    width: 100%;
    height: 250px;
    resize: none;
    outline: none;
    font-family: 'Titillium Web';
    -webkit-font-smoothing: antialiased;
    font-size: .85em;
    background: #383737;
    color: #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    border: 0;
    padding: 10px;
	overflow:auto;
}
.console-btn{
    padding:4px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #cacaca;
    cursor:pointer;
    outline:none;
    background-color:#e8e8e8;
    transition:background-color .6s;
    transition:color .25s;
}
.console-btn:hover{
    background-color:#383737;
    border:1px solid #383737;
    color:#fff;
}
.btn-active{
    background-color:#383737;
    border:1px solid #383737;
    color:#fff;
}
.menu-title{
    padding: 8px 8px;
    font-size: 13px;
    margin: 55px 0 10px 0;
    background: #324353;
    color: #fff;
}
.flat-btn{
    float: left;
    margin: 0;
    position: relative;
    width: 33.3333%;
    height: 130px;
    padding: 0px;
    box-sizing: border-box;
    table-layout: fixed;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #f7f7f7;
    cursor: pointer;
    transition:background-color .5s;
}
.flat-btn:hover{
    background-color: #e2e2e2;
}
.flat-btn i{
    position: absolute;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    max-width: 100%;
    right: 0;
    box-sizing: border-box;
    height: 0px;
    text-align: center;
    z-index: 1;
}
.flat-btn-title{
    position: absolute;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    max-width: 100%;
    right: 0;
    padding: 0 18px;
    box-sizing: border-box;
    height: 0px;
    text-align: center;
    z-index: 1;
}
.sign-btn{
    float: right;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    margin:0 10px 0 0;
}
.sign-btn i{
    color:#fff;
    transition:color .5s;
    font-size: 15px;
}
.sign-btn:hover i{
    color:#ffffff91;;
}
/* jQuery modal redesign */
.jconfirm .jconfirm-holder{
    /* max-width:550px!important; */
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: hidden!important;
}
.jconfirm .jconfirm-box{
    max-width:400px;
    width:100%;
    height:auto;
    margin:0 auto;
}
.jconfirm .jconfirm-cell{
    vertical-align: top!important;
}
.jconfirm-content {
    margin: 0 auto;
    text-align: center;
}
